.FormMain {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}
.form-div {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
}
