.navigation-main {
  height: 12vh;
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: aliceblue;
  font-size: x-large;
}
img {
  height: 80px;
  padding-left: 10px;
}

.status-buttons-container {
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  display: flex;
  margin: 5px;
  padding: 5px;
}
.login-time {
  padding-left: 20px;
  font-size: medium;
  color: aquamarine;
}
